//
//  Configuration.xcconfig
//  DesktopTime
//
//  Created by Marcel Dierkes on 31.04.18.
//  Copyright © 2018 Marcel Dierkes. All rights reserved.
//

MACOSX_DEPLOYMENT_TARGET = 10.13
PRODUCT_BUNDLE_IDENTIFIER = info.marcel-dierkes.DesktopTime

DTI_COPYRIGHT_TEXT = Copyright © 2015 – 2018 Marcel Dierkes. All rights reserved.
DTI_BUNDLE_VERSION = 2.0.0
DTI_BUILD_NUMBER = 2000001
