//
//  Configuration.xcconfig
//  DesktopTime
//
//  Created by Marcel Dierkes on 31.04.18.
//  Copyright (c) 2018 Marcel Dierkes. All rights reserved.
//

MACOSX_DEPLOYMENT_TARGET = 11.0
PRODUCT_BUNDLE_IDENTIFIER = info.marcel-dierkes.DesktopTime

MARKETING_VERSION = 2.0.2
CURRENT_PROJECT_VERSION = 2000202

DTI_COPYRIGHT_TEXT = Copyright © 2015 – 2021 Marcel Dierkes. All rights reserved.
